:root
{
  background-color: #2B3A67;
  font-family: "Kaisei HarunoUmi", serif;
  color:#F8FFE5
}

button
{
  vertical-align: middle;
  background-color:#66999B;
  color:#F8FFE5;
  font-family: "Kaisei HarunoUmi", serif;
}

button:hover
{
  background-color:#F8FFE5;
  color:#66999B;
  font-family: "Kaisei HarunoUmi", serif;
}
canvas
{
  background-color: #496A81;
}

#toolbar
{
  height: 40px;
  background-color:#2B3A67;
  font-family: "Kaisei HarunoUmi", serif;
}

#media
{
  position:absolute;
  top: 5%;
  right:0%
}

.renderer2d
{
  position: absolute;
  pointer-events: none;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.lyrics
{
  position: relative;
}

.kaisei-harunoumi-regular {
  font-family: "Kaisei HarunoUmi", serif;
  font-weight: 400;
  font-style: normal;
}